body{
    font-family: arial,sans-serif;
    background: #ccc;
    margin: 0px;
}
.hed{
    background-image: url(../imagens/bg-3.jpg);
    background-position: right center;
    background-size: cover;
    height: 400px;
}
.formato{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.formato h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;/* aqui na sobra funciona assim: 3 para pixel para direta, 3 pixel para baixo,2 pixel de esfumaçado e a cor */
}
.content{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}
.her-two{
    background: #ccc;
    text-indent: 10px;
    text-transform: capitalize;
    border-bottom-style: solid;
}
main{
    width: 80%;
    margin: auto;
}
