body{
    font-family: arial,sans-serif;
    background: #ccc;
    margin: 0px;
}
.hed{
    background-image: url(imagens/bg-3.jpg);
    background-position: right center;
    background-size: cover;
    height: 600px;
    border-top: 1px solid transparent;
}
.hed nav ul{/* peguei o pai para alinhar*/
    text-align: right;
    margin: 20px 50px 0 0;
    
}
.hed nav li{/* tranformando as crianças em linha de blocos*/
    display: inline-block;
    list-style: none;
    border: 3px solid rgba(255, 255, 255, 0.479);
    margin-left: 10px;
}
.hed nav a{
    background: rgba(0, 0, 0, 0.150);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;/* espaço entre as letras*/
    font-size: 15px;
}
.hed nav a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.formato{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.formato h1{
    text-transform: uppercase;
    font-size: 47px;
    text-shadow: 3px 3px 2px #333;/* aqui na sobra funciona assim: 3 para pixel para direta, 3 pixel para baixo,2 pixel de esfumaçado e a cor */
}
.formato p{
    background-color: rgba(0, 0, 0, 0.534);
    display: inline-block;
    padding: 15px;
    border-bottom: 3px solid white;
    font-size: 20px;
}
.content{
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    overflow: auto;
}
.card{
    float: left;
    width: 32%;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    background-color: rgba(49, 49, 49, 0.87);
    color: white;
    margin: 0;
    padding: 17px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
}
.her-two{
    background: #eee;
    padding: 10px;
    text-transform: capitalize;
    border-bottom: solid 2px #ccc;
}
.her-two h2{
    margin: 0;
}
.rodape{
    height: 100px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color: #6b6c68;
    line-height: 100px;/* aqui é um esquema para deixar no meio sem o padding mas so funciona com frases unica e curtas */
}
main{
    width: 90%;
    margin: auto;
}
